<div class="header">
<div class="titlewrap">
<H1>
<img class="coinImage" routerLink="home" src="../../assets/img/LOGO.png">
Crypto Market
<img class="translate" (click)="useLanguage('en')" src="../../assets/img/english.png">
<img class="translate" (click)="useLanguage('fr')" src="../../assets/img/french.png">
</H1>
</div>
</div>

<!-- <select #langSelect (change)="translate.use(langSelect.value)">
        <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>
      </select> -->
