.header {
    
    background-image: linear-gradient(#07224D, #3A506B);

}


.titlewrap{
    align-items: center;
    text-align: center;
}
h1 {
    text-align: center;
    color: white;
    display: inline;
    font-size: 2.5rem;
  }

  .coinImage{
    height: 3rem;
    align-self: auto;
    
  }

  .translate
  {
    height: 1.5rem;
    align-self: auto;
    padding: .2rem;
    
  }

