<div class="footer">
<nav>
    <ul routerLinkActive="active">
      
    <li class="nav-item">
    <img class="coinImage" routerLink="list-coins" src="../../assets/img/coinsNav.png">
    <img class="coinImageHover" routerLink="list-coins" src="../../assets/img/coinNavHover.png">
    </li>

    <li class="nav-item">
    <img class="coinImage1" routerLink="location" src="../../assets/img/location.png">
    <img class="coinImageHover1"  routerLink="location" src="../../assets/img/locationHover.png">
    </li>

    </ul>
</nav>
</div>
