<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Coin Stats</title>
</head>
<body>
      <div class="body">
  <div class='container'>
    <div class="row" *ngIf="this.stock && ['Meta Data']">

    <div>
          <h4>Name:</h4>
          <h3>{{this.stock['Meta Data']['3. Digital Currency Name']}}</h3>
    </div>

    <div class="coinImageDiv">
            <img class="coinImage" src="../../assets/img/{{codesign}}.png">
    </div>
      
    <div>
          <h4>Code:</h4>
          <h3>{{this.stock['Meta Data']['2. Digital Currency Code']}}</h3>
    </div>

    </div>
</div>

<hr>

    <div class="table-responsive" *ngIf="chart">
           <canvas id="canvas" style="min-height:350px" class="table">{{ chart }}</canvas>
    </div>

<hr>
  
 <div class='container'>
    <div>
          <h1>{{ 'COIN.CAP' | translate }}:</h1>
    </div>

    <div>
          <p>{{  this.NewMark | currency:'EUR':'symbol-narrow':'0.2-2' }}</p>
    </div>

  <div class='row'>

    <div>
          <h5>{{ 'COIN.VOLUME' | translate }}:</h5>
    </div>

    <div>
          <h2>{{  this.volume | currency:'EUR':'symbol-narrow':'0.2-2' }}</h2>
    </div>
  </div>

  <div class='row'>
    <div>
          <h5>{{ 'COIN.OPEN' | translate }}:</h5>
    </div>

    <div>
          <h2>{{  this.open | currency:'EUR':'symbol-narrow':'0.2-2' }}</h2>
    </div>
  </div>

  <div class='row'>
    <div>
          <h5>{{ 'COIN.CLOSE' | translate }}:</h5>
    </div>

    <div>
          <h2>{{  this.close | currency:'EUR':'symbol-narrow':'0.2-2' }}</h2>
    </div>
  </div>
  
 </div>

<hr>
</div>
      
</body>
</html>

