.table {
    margin-bottom:      0rem;
    padding:            1rem;
    margin:             auto;
    height:             90vh;
    width:              90vw;
}

.container{
    padding:            none;
}

.row {
    display:            flex;    
    margin-left:        .1rem;
    margin-right:       .1rem;
    margin-top:         .7rem;
    text-align:         center;
    align-items:        center;
    justify-content:    center;
    
    
    
  }

  .row>div {
 
    flex:               1;
    display:            inline-block;

  }

  .row>div:nth-of-type(1) {
    flex:               1;
    width:              50%;
    
  }

  .row>div:nth-of-type(2) {
    flex            :   1;
    width:              50%;
    
    
  }


  h4 {
    font-size:          1.5rem;
    color:            #3FC96D;
    margin-bottom:      0rem;
    padding:            .3rem;
  }

  h3 {
    text-align:         center;
    color:            white;
    padding:            .3rem;
    font-size:          1.2rem;
    margin-bottom:      0;
  }

  h2 {
    text-align:         right;
    color:            white;
    padding:            .5rem;
    font-size:          1.2rem;
    margin-bottom:      0;
  }

  h5 {
    text-align:         left;
    color:            #3FC96D;
    padding:            .5rem;
    font-size:          1.3rem;
    margin-bottom:      0;
    
  }

  h1 {
    text-align:         center;
    color:            #3FC96D;
    padding:            .3rem;
    font-size:          1.3rem;
    margin-bottom:      0;
    
  }

  .coinImage{
    height:             5rem;
    width:              5rem;
    
}

p {
  text-align:           center;
  color:              white;
  padding:              .3rem;
  font-size:            1.4rem;
  margin-bottom:        0;
}

.coinImageDiv{
    display:            block;
    text-align:         center;
    
}

 hr{
  background-color:   #dfc9c980;
   width:               95%;
 }


 @media only screen and (min-width: 768px) {

  h2 {
    text-align:          right;
    color:             white;
    padding:             .5rem;
    font-size:           1.2rem;
    margin-bottom:       0;
    margin-right:        15rem;
  }

  h5 {
    text-align:          left;
    color:             #3FC96D;
    padding:             .5rem;
    font-size:           1.3rem;
    margin-bottom:       0;
    margin-left:         15rem;
    
  }

  .table {
    margin-bottom:       0rem;
    padding:             3rem;
    margin:              auto;
    height:              90vh;
    width:               90vw;
}
 
}
