<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Banks Map</title>
</head>
<body>
<div class="body">
<div class="container">
    <h1>Closest Bank Map</h1>
    <hr>
    <h3>Our Banks Map allows you to view all the banks in the area and also supports street view to provide easy navigation.</h3>
  
    <hr>
  
  <agm-map [zoom]="14" [latitude]="userLat" [longitude]="userLng">
    <agm-marker   *ngFor      ="let m of markers;"
      [latitude]              ="m['latt']"
      [longitude]             ="m['lngg']">
    </agm-marker>
  </agm-map>
</div>
</div>
</body>
</html>

