
<div class="body">

<div class="container">
  <h1>Something About My Location</h1>

  <!-- Only trigger a geolocation request on user interaction -->
  <a routerLink="location/#" id='getLocation'>Find My Location</a>


  <!-- Offer an alternative -->
  <form action='#'>
    <label for='manualLocation'>Or, enter your city...</label>
    <input type='text' id='manualLocation' placeholder=''>
  </form>

  <!-- Show some information about the location, when known -->
  <div id='feedback'>Location is not yet known...</div>

  <!-- Lazy JS load -->
  <script src='./location.component.ts'></script>
 
  


  </div>

</div>