


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  
    <div routerLink="/coin/{{coinsBTC['Realtime Currency Exchange Rate']['1. From_Currency Code']}}" class="coinBlocks">
     <p>{{coinsBTC['Realtime Currency Exchange Rate']['2. From_Currency Name']}}</p>
     <p>{{coinsBTC['Realtime Currency Exchange Rate']['1. From_Currency Code']}}</p>
   <p>€{{coinsBTC['Realtime Currency Exchange Rate']['5. Exchange Rate']}}</p>
    </div>


<!-- <div class="coinBlocks">
  <p>{{coinsLTC['Realtime Currency Exchange Rate']['2. From_Currency Name']}}</p>
  <p >{{coinsLTC['Realtime Currency Exchange Rate']['1. From_Currency Code']}}</p>
  <p>€{{coinsLTC['Realtime Currency Exchange Rate']['5. Exchange Rate']}}</p>
</div>


<div class="coinBlocks">
    <p>{{coinsBCH['Realtime Currency Exchange Rate']['2. From_Currency Name']}}</p>
    <p>{{coinsBCH['Realtime Currency Exchange Rate']['1. From_Currency Code']}}</p>
    <p>€{{coinsBCH['Realtime Currency Exchange Rate']['5. Exchange Rate']}}</p>
  </div>

<div class="coinBlocks">
    <p>{{coinsETH['Realtime Currency Exchange Rate']['2. From_Currency Name']}}</p>
    <p>{{coinsETH['Realtime Currency Exchange Rate']['1. From_Currency Code']}}</p>
    <p>€{{coinsETH['Realtime Currency Exchange Rate']['5. Exchange Rate']}}</p>
  </div>

<div class="coinBlocks">
    <p>{{coinsXRP['Realtime Currency Exchange Rate']['2. From_Currency Name']}}</p>
    <p>{{coinsXRP['Realtime Currency Exchange Rate']['1. From_Currency Code']}}</p>
    <p>€{{coinsXRP['Realtime Currency Exchange Rate']['5. Exchange Rate']}}</p>
  </div>
  

<div class="coinBlocks">
    <p>{{coinsXMR['Realtime Currency Exchange Rate']['2. From_Currency Name']}}</p>
    <p>{{coinsXMR['Realtime Currency Exchange Rate']['1. From_Currency Code']}}</p>
    <p>€{{coinsXMR['Realtime Currency Exchange Rate']['5. Exchange Rate']}}</p>
  </div> -->
</body>
</html>
