


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
    <!-- <ul>
    <li *ngFor="let coin of coins"><p>{{coin['Realtime Currency Exchange Rate']['1. From_Currency Code']}}</p></li>
  </ul>

  <p>{{coins['Realtime Currency Exchange Rate']['1. From_Currency Code']}}</p>
  <p>{{coins['Realtime Currency Exchange Rate']['2. From_Currency Name']}}</p>
  <p>{{coins['Realtime Currency Exchange Rate']['3. To_Currency Code']}}</p>
  <p>{{coins['Realtime Currency Exchange Rate']['4.To_Currency Name']}}</p>
  <p>{{coins['Realtime Currency Exchange Rate']['5. Exchange Rate']}}</p>
  <p>{{coins['Realtime Currency Exchange Rate']['6. Last Refreshed']}}</p>
  <p>{{coins['Realtime Currency Exchange Rate']['7. Time Zone']}}</p> -->

<div class="coinBlocks">
  <p>{{coins1['Realtime Currency Exchange Rate']['1. From_Currency Code']}}</p>
  <p>{{coins1['Realtime Currency Exchange Rate']['2. From_Currency Name']}}</p>
  <p>€{{coins1['Realtime Currency Exchange Rate']['5. Exchange Rate']}}</p>
</div>



  <p>{{coins2['Realtime Currency Exchange Rate']['1. From_Currency Code']}}</p>
  <p>{{coins2['Realtime Currency Exchange Rate']['2. From_Currency Name']}}</p>
  <p>{{coins2['Realtime Currency Exchange Rate']['3. To_Currency Code']}}</p>
  <p>{{coins2['Realtime Currency Exchange Rate']['4.To_Currency Name']}}</p>
  <p>{{coins2['Realtime Currency Exchange Rate']['5. Exchange Rate']}}</p>
  <p>{{coins2['Realtime Currency Exchange Rate']['6. Last Refreshed']}}</p>
  <p>{{coins2['Realtime Currency Exchange Rate']['7. Time Zone']}}</p>
  
</body>
</html>
