<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Coin List</title>
</head>
<body>
<div class="body">

<div *ngIf="coinsBTC && ['Realtime Currency Exchange Rate']"> 
    <div class='container'  routerLink="/coin/{{coinsBTC['Realtime Currency Exchange Rate']['1. From_Currency Code']}}">
      <div class="row">
        <div>
              <img class="coinImage" src="../../assets/img/BTC.png">
        </div>

        <div>
          <h4>{{coinsBTC['Realtime Currency Exchange Rate']['2. From_Currency Name']}}</h4>
        </div>
    
        <div>
          <h4>{{coinsBTC['Realtime Currency Exchange Rate']['1. From_Currency Code']}}</h4>
        </div>

        <div>
         <h3>{{coinsBTC['Realtime Currency Exchange Rate']['5. Exchange Rate'] | currency:'EUR':'symbol-narrow':'0.2-2'}}</h3>
        </div>

      </div>
    </div>
</div>



<div *ngIf="coinsLTC && ['Realtime Currency Exchange Rate']"> 
  <div class='container'  routerLink="/coin/{{coinsLTC['Realtime Currency Exchange Rate']['1. From_Currency Code']}}">
    <div class="row">
      <div>
            <img class="coinImage" src="../../assets/img/LTC.png">
      </div>

      <div>
        <h4>{{coinsLTC['Realtime Currency Exchange Rate']['2. From_Currency Name']}}</h4>
      </div>
  
      <div>
        <h4>{{coinsLTC['Realtime Currency Exchange Rate']['1. From_Currency Code']}}</h4>
      </div>

      <div>
       <h3>{{coinsLTC['Realtime Currency Exchange Rate']['5. Exchange Rate'] | currency:'EUR':'symbol-narrow':'0.2-2'}}</h3>
      </div>

    </div>
  </div>
</div>



<div *ngIf="coinsDASH && ['Realtime Currency Exchange Rate']"> 
  <div class='container'  routerLink="/coin/{{coinsDASH['Realtime Currency Exchange Rate']['1. From_Currency Code']}}">
    <div class="row">
      <div>
            <img class="coinImage" src="../../assets/img/DASH.png">
      </div>

      <div>
        <h4>{{coinsDASH['Realtime Currency Exchange Rate']['2. From_Currency Name']}}</h4>
      </div>
  
      <div>
        <h4>{{coinsDASH['Realtime Currency Exchange Rate']['1. From_Currency Code']}}</h4>
      </div>

      <div>
       <h3>{{coinsDASH['Realtime Currency Exchange Rate']['5. Exchange Rate'] | currency:'EUR':'symbol-narrow':'0.2-2'}}</h3>
      </div>

    </div>
  </div>
</div>
 


<div *ngIf="coinsETH && ['Realtime Currency Exchange Rate']"> 
  <div class='container'  routerLink="/coin/{{coinsETH['Realtime Currency Exchange Rate']['1. From_Currency Code']}}">
    <div class="row">
      <div>
            <img class="coinImage" src="../../assets/img/ETH.png">
      </div>

      <div>
        <h4>{{coinsETH['Realtime Currency Exchange Rate']['2. From_Currency Name']}}</h4>
      </div>
  
      <div>
        <h4>{{coinsETH['Realtime Currency Exchange Rate']['1. From_Currency Code']}}</h4>
      </div>

      <div>
       <h3>{{coinsETH['Realtime Currency Exchange Rate']['5. Exchange Rate'] | currency:'EUR':'symbol-narrow':'0.2-2'}}</h3>
      </div>

    </div>
  </div>
</div>

    

<div *ngIf="coinsXMR && ['Realtime Currency Exchange Rate']"> 
  <div class='container'  routerLink="/coin/{{coinsXMR['Realtime Currency Exchange Rate']['1. From_Currency Code']}}">
    <div class="row">
      <div>
            <img class="coinImage" src="../../assets/img/XMR.png">
      </div>

      <div>
        <h4>{{coinsXMR['Realtime Currency Exchange Rate']['2. From_Currency Name']}}</h4>
      </div>
  
      <div>
        <h4>{{coinsXMR['Realtime Currency Exchange Rate']['1. From_Currency Code']}}</h4>
      </div>

      <div>
       <h3>{{coinsXMR['Realtime Currency Exchange Rate']['5. Exchange Rate'] | currency:'EUR':'symbol-narrow':'0.2-2'}}</h3>
      </div>

    </div>
  </div>
</div>
                          
</div>
</body>
</html>